
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
.product-card {
    display: flex;
    border: 1px solid #ddd;
    padding: 16px;
    height: 400px;
    margin: 16px;
    border-radius: 8px;
    color:#2193B0;
  }
  
  .product-image {
    max-width: 350px; /* Increase the max-width for a larger image */
    margin-right: 16px;
    object-fit: cover;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 4em;
    margin-bottom: 8px;
  }
  
  .product-description {
    margin-bottom: 8px;
    color: #888;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 2em;
    color: #333;
    margin-bottom: 8px;
  }
  
  .add-to-cart {
    background-color: #2193B0;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .product-card {
      flex-direction: column;
      align-items: center;
    }
  
    .product-image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }  